<!-- templates/analyse.tmpl -->
<html>
<script charset="utf-8" src="js/analyse.js"></script>
<body>
    <p>日志分析系统</p>
    <input type="button" value="点击获取日志列表" onclick=javascript:showfiles()>
    <br>
    <select name="filelist" id="files"></select>
    <br><br>
    <input type="button" value="点击查看选择的日志内容" onclick=javascript:showlog()>
    <br><br>
    <font size="3" color="black">内容显示框</font>
    <br>
    <textarea id="showBox" rows="10" cols="255"></textarea>
    <br><br>
    <font size="3" color="black">输入解析字段</font>
    <br>
    <font size="3" color="black">from</font>
    <input type="text" id="from" />
    <br>
    <font size="3" color="black">to</font>
    <input type="text" id="to" />
    <br>
    <input type="button" value="点击解析选择的日志" onclick=javascript:parselog()>
    <br><br>
    <body>
    <canvas id="line" width="1800" height="400"></canvas>
    </body>
    <br>
</body>
</html>