<!-- templates/analyse.tmpl -->
<html>
<script charset="utf-8" src="js/home.js"></script>
<body>
    <p>goMonitor</p>
    <input type="button" value="日志分析平台" onclick=javascript:jump2analyse()>
    <br>
    <input type="button" value="性能监控平台" onclick=javascript:jump2monitor()>
    <br>
</body>
</html>